@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

:root {
    scroll-behavior: smooth;
    --accent-color: 100, 85, 255; 
    --card-bg:rgb(250, 250, 250);
    --text-color:rgb(0, 0, 0);
    --secondary-text-color:rgba(0, 0, 0, 0.75);
    --bg-color:rgb(240, 240, 240);
    
    /* Fonts Size */
    --font-small: .8rem;
    --font-regular :1rem;
    --font-large:1.5rem;
    --font-xl:2rem;
    --font-xxl:3rem;
    --font-3xl:4rem;
    --font-4xl:5rem;

    --bold-800:800;
    --bold-700:700;
    --bold-400:400;

    --padding-regular:1rem;
    --padding-large:2rem;
    --padding-xl:5rem;

    --default-transition: all ease-in-out .1s;
    --day-icon:none;
    --night-icon:revert;
}

::-webkit-scrollbar {
    width:10px
}
::-webkit-scrollbar-track {
    background: rgba(var(--accent-color),.3);
}
::-webkit-scrollbar-thumb {
    background: rgba(var(--accent-color));
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:active{
    background: var(--secondary-text-color);
}

body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    transition: var(--default-transition);
}
/* Flex prop */
.flex-center {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-heading{
    font-size: var(--font-large);
    text-transform: uppercase;
    color: var(--text-color);
}


p{  
    color: var(--text-color);
    font-size: var(--font-regular);
}

/* First Page (hero) */
.intro {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(images/introwave.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

}
.intro-text{
    color: white;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    
}
.intro-text .text span {
    font-size: 4rem;
}
.intro-text .text {
    color: white;
    position: relative;
    bottom: 4rem;
    right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 1rem;
    padding-right: 1rem;
    background: #6455ff;
    box-shadow:  16px 16px 32px #4d41c4,
                -16px -16px 32px #7b69ff;
}
.intro-text .text h2 {
    margin: 0;
    border-bottom: 2px solid white;
}
.intro .text h3{
    text-align: start;
}
.intro-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}
#profile-img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.icons {
    padding: 1rem;
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    color: var(--text-color);
}
.icons:hover{
    color: rgba(var(--accent-color));
    transition: var(--default-transition);
}

.dynamic-text{
    text-align: start;
    font-weight: var(--bold-700);
    font-size: 2.5rem;
    color: white;
}
.intro-text p {
    color: white;
}
.downicon {
    font-size: var(--font-large);
    color: white;
}
.downicon:hover {
    cursor: pointer;
    transform: scale(2);
    transition: var(--default-transition);
}

@media screen and (max-width: 800px) {
    .intro {
        display: flex;
        flex-direction: column;
        
        gap: revert;
    }
    .intro-text{
        gap: 1rem;
        padding-top: 8rem;
    }
    .intro-text .text {
        right: 1rem;
        margin-bottom: -2rem;
    }
    .dynamic-text{
        font-size: 1.5rem;
    }
    .intro-img {
        padding-top: 0;
    }

    
}
@media screen and (min-width: 1200px) {
    .dynamic-text{
        font-size: 4rem;
    }
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    height: 4rem;
    position: fixed;
    z-index: 1;
}

.modes{
    position:fixed;
    bottom:1rem;
    left: 1rem;
    font-size: var(--font-large);
    color: var(--text-color);
    z-index: 1;
    text-align: center;
    padding: .5rem;
}

#day{
    display: var(--day-icon);
}
#night{
    display: var(--night-icon);
}

.logo {
    color: white;
    width: 100px;
    margin-left:2rem;
    margin-right:auto;
}
.logo:hover {
    cursor: pointer;
}

header nav > a {
    text-decoration: none;
    color: var(--text-color);
    margin-right: 2rem ;
    font-weight: var(--bold-700);
}
header nav > a:hover{
    color: rgba(var(--accent-color));
    transition: all ease-in-out .5s;
}

.mobile-nav,section.menu{
    display: none;
}

#menu-btn {
    display: block;
    font-weight: 700;
    background: transparent;
    border: none;
    margin-right: 2rem;
    color: white;
    font-size: var(--font-large);
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .default-nav {
        display: none;
    }
    .mobile-nav {
        display: revert;
    }
    section.menu{
        display: revert;
        z-index: 2;
        height: 0px;
        overflow: hidden;
        background-color: var(--bg-color);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease-in .5s;
    }
    section.menu ul{
        padding: 0;
    }
    section.menu li{
        font-size: 2rem;
        list-style: none;
        padding: 0;
        text-align: center;
        font-weight: 700;
    }
    section.menu nav ul li a{
        color: var(--text-color);
        text-decoration: none;
    }
    section.menu nav ul li a:visited{
        color: var(--text-color);
    }
    section.menu li a:hover{
        color: rgba(var(--accent-color));
    }

    #close-btn{
        position: absolute;
        top: 4rem;
        right: 2rem;
        font-weight: var(--bold-700);
        background-color: transparent;
        border: none;
        font-size: 2rem;
        color:var(--text-color);
    }
    #close-btn:hover{
        color:rgba(var(--accent-color));
        transition: var(--hover-transition);
    }

}


.flex-center {
    min-height: 100vh;
    text-align: center;
}


.section-heading {
    text-transform: capitalize;
    justify-content: center;
    font-size: 5rem;
    transform: rotate(270deg);
    color: var(--secondary-text-color);
    
}

.section-heading:hover{
    cursor: pointer;
    color: rgba(var(--accent-color));
    transition: var(--default-transition);
}
.animate-heading{
    -webkit-animation: slide-out-fwd-top 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-top 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes slide-out-fwd-top {
    0% {
      -webkit-transform: translateZ(1) translateY(0);
              transform: translateZ(1) translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(600px) translateY(-300px);
              transform: translateZ(600px) translateY(-300px);
      opacity: 0;
    }
  }
  @keyframes slide-out-fwd-top {
    0% {
      -webkit-transform: translateZ(1) translateY(0);
              transform: translateZ(1) translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(600px) translateY(-300px);
              transform: translateZ(600px) translateY(-300px);
      opacity: 0;
    }
  }
  
  
/* About Page */
#about-me{
    display: grid;
    grid-template-columns: minmax(auto,300px) 1fr;
    justify-content: center;
    min-height: 100vh;
    align-items: center;

}

.about-me-content{
    margin: auto;
    max-width: 500px;
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: 1rem;
}

#contact {
    display: grid;
    grid-template-columns: minmax(auto,300px) 1fr;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

#contact section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#contact form{
    display: flex;
    flex-direction: column;
    width: auto;
}
#contact label{
    text-align: start;
    text-transform: capitalize;
    color: var(--text-color);
}
#contact h4{
    text-transform: uppercase;
    font-size: var(--font-l);
    color: var(--secondary-text-color);
}

#contact form input,textarea {
    border: none;
    background-color: var(--card-bg);
    padding: .5rem;
    border-radius: 1rem;
    font-size: 1rem;
    color:var(--text-color);
    font-size: var(--font-large);
    outline: none;
}
#contact form{
    /* margin: 1rem; */
}
#contact input:focus,textarea:focus{
    outline: 2px solid rgba(var(--accent-color));
}

.submit-btn{
    max-width: 150px;
    margin: auto;
    background-color: rgba(var(--accent-color));
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 16px;
    margin-top: 2rem;
}
.submit-btn:hover{
    cursor: pointer;
    color: rgba(var(--accent-color));
    background-color: transparent;
    outline: 1px solid rgba(var(--accent-color));
    transition: var(--default-transition);
}
footer {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}
@media screen and (max-width:800px) {
    #about-me,#contact{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        margin: 1rem;
        gap: 0rem;
        min-height: 100vh;
        transition: var(--default-transition);
    }
    .section-heading{
        transform: revert;
        align-self: center;
        margin: auto;
        font-size: 3rem;
        height: min-content;
        padding-top: 3rem;
        padding-bottom: revert;
    }
}