@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

.projects{
    display: grid;
    grid-template-columns: minmax(auto,300px) 1fr;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    margin: 1rem;
}

/* SEARCH */
.search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
.search h4{
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 10px;
}
.search h4:hover{
    cursor: pointer;
}
.notselectedoption{
    background-color: transparent;
    color: var(--text-color);
    transition: var(--default-transition);
}
.selectedoption{
    background-color: rgba(var(--accent-color));
    color: white;
    transition: var(--default-transition);
}
.projects-inner-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(4,minmax(auto,300px));
    gap: 1rem;
    justify-content: center;
    align-items: center;
    transition: var(--default-transition);
    max-height: 70vh;
    overflow-y: auto;
    border: 2px solid rgba(var(--accent-color));
    padding: 1rem;

}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--card-bg);
    color: var(--text-color);
}
.card:hover{
    box-shadow: 0px 16px 20px -15px rgba(var(--accent-color));
    transition: var(--default-transition);
}

.card p,h3{
    margin: 0;
    text-align: center;
}

.card p {
    color: var(--secondary-text-color);
    margin-top: 0;
    font-size: .8rem;
}

.card img {
    max-width:100%;
    height: 150px;
    border-radius: .5rem;
    object-fit: cover;
    border-bottom: 1px solid rgba(var(--accent-color));
}

.project-para {
    max-height: 75px;
    overflow: auto;
}
.project-para::-webkit-scrollbar{
    display: none;
}

.project-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
}

.githubbtn {
    background-color: transparent;
    border: none;
    padding: .5rem 2rem .5rem 2rem;
    text-transform: uppercase;
}
.livebtn a {
    color: white;
}
.githubbtn a {
    color: var(--text-color);
}
.project-buttons a {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}
.livebtn {
    background-color: rgba(var(--accent-color));
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 8px 16px 8px 16px;
    text-transform: uppercase;
    
}



.project-buttons a:hover{
    color: rgba(var(--accent-color));
    transition: var(--default-transition);
}
.livebtn:hover , .tags p:hover{
    cursor: pointer;
    background-color: transparent;
    outline: 1px solid rgba(var(--accent-color));
    transition: var(--default-transition);
}

.tags {
    display: flex;
    color: var(--text-color);
    gap: 1rem;
}
.tags p{
    background-color: rgba(var(--accent-color));
    padding: .25rem .5rem .25rem .5rem;
    border-radius: 5px;
    color: white;
}

/* Media Queries */
@media screen and (max-width:1300px) {
    .cards-container{
        display: grid;
        grid-template-columns: repeat(2,minmax(auto,300px));
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:1000px) {
    .cards-container{
        display: grid;
        grid-template-columns: repeat(1,minmax(auto,300px));
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:800px) {
    .cards-container{
        display: grid;
        grid-template-columns: repeat(1,minmax(auto,300px));
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .section-heading-projects{
        transform: revert;
        align-self: center;
        margin: auto;
        font-size: 3rem;
        height: min-content;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .projects{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        justify-content: center;
        min-height: 100vh;
        gap: 2rem;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        color: var(--text-color);
    }
}
